<?php
    $actors = $this->getActorCollection();
?>

<h2>Actors list</h2>
<style>
    #actor-list th {
        width: 50%;
    }
</style>
<table id="actor-list" class="table bordered" style="border: 1px solid black;">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>

    <?php foreach ($actors as $actor):?>
        <tr>
            <td><?php echo $actor->getActorId();?></td>
            <td><?php echo $actor->getName();?></td>
        </tr>
    <?php endforeach; ?>
</table>
