<?php
    $movies = $this->getMovieCollection();
?>

<h2>Movies list</h2>

<table class="table bordered" style="border: 1px solid black;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Description</th>
            <th>Director ID</th>
        </tr>

<?php foreach ($movies as $movie):?>
    <tr>
        <td><?php echo $movie->getMovieId();?></td>
        <td><?php echo $movie->getName();?></td>
        <td><?php echo $movie->getRating();?></td>
        <td><?php echo $movie->getDescription();?></td>
        <td><?php echo $movie->getDirectorId();?></td>
    </tr>
<?php endforeach; ?>
</table>
